

html, body {
  font-size: 18px;
  font-family: Helvetica;
}

h1 {
    font-size: 1.5rem;
}

.container {
  width: 960px;
  margin: 0 auto;
}

/*** Company Header ***/

.logo {
  background: black;
  color: white;
}

.logo .container {
  display: flex;
  align-items: center;
}

.logo img {
  margin-left: 0.5rem;
  margin-right: 1rem;
  height: 1.5rem;
}

.logo span {
  margin: 0.66rem 0;
}

/**** Main Banner ****/

.main-banner {
  height: 25rem;
  background-image: url("../images/moto.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 5px;
}

.headline {
  background: black;
  color: white;
  font-weight: bold;
  margin-top: 9rem;
  padding: 2rem 0;
  width: 20rem;
}

.headline h4 {
  font-size: 1rem;
  margin-left: 3rem;
  margin-bottom: 0.25rem;
}

.headline h1 {
  margin-left: 3rem;
}

/*Nav*/

.nav {
  background: firebrick;
}

.nav ul {
  display: flex;
  justify-content: space-between;
}

.nav li {
  margin-top: 0.75rem;
  margin-bottom: 0.75rem;
  color: white;
}

#mobile-nav {
  display: none;

}

/*Products*/

.products {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.product {
  display: flex;
  flex-direction: column;
  width: 30%;
  border: 4px solid black;
  align-items: center;
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.product-image {
  display: flex;
  align-items: center;
}

.product-image img {
  height: 9rem;
  width: 60%;
  margin: 2rem auto;
}

.product span {
  background: black;
  color: white;
  text-align: center;
  width: 100%;
  padding: 0.5rem 0;
}

/*Location*/

.location {
  display: flex;
  justify-content: space-between;

}

.info {
  display: flex;
  flex-direction: column;
  width: 35%;
  text-align: left;
  padding-bottom: 4rem;
}

.title {
  background: black;
  color: white;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.title span {
  margin-left: 2rem;
}

footer {
  background: black;
  color: white;
  height: 5rem;
  display: flex;
  align-items: center;
}

/*** Media Queries ***/

@media only screen and (max-width: 1024px) {
  .nav ul {
    display: none;
  }

  #mobile-nav {
    display: block;
    padding-top: 0.01rem;
    padding-bottom: 0.01rem;
    text-align: center;
  }

  .product {
    width: 47%;
  }

  .product.glasses {
    display: none;
  }
}


@media only screen and (max-width: 470px) {

}
