

html, body {
  font-size: 18px;
  font-family: Helvetica;
}

h1 {
    font-size: 1.5rem;
}

.container {
  width: 960px;
  margin: 0 auto;
}

/*** Company Header ***/

.logo {
  background: black;
  color: white;
}

.logo .container {
  display: flex;
  align-items: center;
}

.logo img {
  margin-left: 0.5rem;
  margin-right: 1rem;
  height: 1.5rem;
}

.logo span {
  margin: 0.66rem 0;
}

/**** Main Banner ****/

.main-banner {
  height: 25rem;
  background-image: url("../images/moto.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 5px;
}

.headline {
  background: black;
  color: white;
  font-weight: bold;
  margin-top: 9rem;
  padding: 2rem 0;
  width: 20rem;
}

.headline h4 {
  font-size: 1rem;
  margin-left: 3rem;
  margin-bottom: 0.25rem;
}

.headline h1 {
  margin-left: 3rem;
}
